.App body {
    color: rgb(34, 12, 16);
    font-family:'Genova', sans-serif;
    background-color: rgba(212, 212, 216, 0.4);
}

.App header {
    padding: 10px 0px 10px 0px;
}

.App .app-box {
    display: block;
    background-color: rgb(247, 248, 246);
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #dadde1;
    border-color: rgba(247, 248, 246, 0.3);
    box-shadow: 25px 25px 20px rgba(34, 12, 16, 0.2);
}

.App footer {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: rgb(81, 75, 35);
    text-align: center;
    padding: 30px 0px 10px 0px;
}

p, strong {
    color: rgba(29, 29, 27, 0.6);
}

hr {
    color: rgba(212, 212, 216, 0.4);
}
