h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

.main-info {
    margin-left: 20px;
    padding: 10px 0px 30px 0px;
    justify-content: space-between;
}

.temperature-info {
    margin-top: 30px;
    padding: 20px 0px 0px 0px;
    display: flex;
}

.secondary-temp-info {
    margin-top: 20px;
}

.icon img {
    width: 80px;
    height: 8   0px;
    margin-right: 10px;
    margin-top: 10px;
}

.real-temp {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
    margin-left: 10px;
    margin-right: 5px;
}

.temp-unit {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(29, 29, 27);
}