h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 29px;
}


li {
    list-style: none;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
}

.main-info {
    margin-left: 30px;
    padding: 10px 0px 30px 0px;
    justify-content: space-between;
}

.main-ul {
    margin: 0;
    padding: 0;
}

.temperature-info {
    margin-top: 10px;
    padding: 10px 0 0 0;
    display: flex;
}

.secondary-ul {
    margin-top: 25px;
}

.icon canvas {
    margin-left: 25px;
    margin-top: 5px;
}

.real-temp {
    font-size: 70px;
    font-weight: 500px;
    line-height: 80px;
    margin-left: 20px;
    margin-right: 5px;
}

.temp-unit {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400px;
    color: rgb(29, 29, 27);
}